html {
	font-family: Helvetica;
}

h1 {
	font-size: 2em;
	text-align: center;
	padding: 10px;
}

h2 {
	color: #fff;
	background-color: #666;
	padding: 10px;
	margin-top: 10px;
	
}

h3 {
	color: #fff;
	background-color: #999;
	text-align: center;
	padding: 5px 0;
}

.completed_phase {
	color: #ccc;
	font-style: italic;
	text-decoration: line-through;
}

.current_phase {
	font-weight: bold;
}

.future_phase {
	color: #999;
}

.intro_text {
	font-size: 1em;
	font-style: italic;
	color: #999;
}

#chart {
	height: 350px;
}

#current_temp_circle {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	height: 140px;
	width: 140px;
	border-radius: 140px;
}

.temp_cooling {
	color: #fff;
	border: 1px solid #0101DF;
	background-color: #5882FA;
}

.temp_heating {
	color: #fff;
	border: 1px solid #FF0000;
	background-color: #F78181;
}

.temp_stable {
	border: 1px solid #000;
}

#temp_container {
	margin: 10px 0;
}

.previous_batch {
	margin: 10px 0;
	padding: 5px;
	border: 1px dashed #ccc;
	cursor: pointer;
}